<div class="form__container">
    <form [formGroup]="filterForm!">
        <div class="form__tittle">Envíanos tus comentarios</div>
    <div class="data__container">
        <div class="name__input">
            <input formControlName="name" type="text" class="name__input--input" placeholder="Introduce tu nombre">
            <small *ngIf="hasErrorsName('name')" class="filter__input--error">
                *El nombre no puede estar vacío</small>
        </div>
        <div class="surnames__input">
            <input formControlName="surnames" type="text" class="surnames__input--input" placeholder="Introduce el apellido">
            <small *ngIf="hasErrorsSurnames('surnames')" class="filter__input--error">
                *Los apellidos no pueden estar vacíos</small>
        </div>
        <div class="mail__input">
            <input formControlName="mail" type="text" class="mail__input--input" placeholder="Introduce el mail">
            <small *ngIf="hasErrorsMail('mail')" class="switch__filter__input--error">
                *El mail no puede estar vacío</small>
            <small *ngIf="hasErrorsMailPattern('mail')" class="filter__input--error">
                *El mail debe tener formato</small>
        </div>
    </div>
    <div class="coments__container">
        <input formControlName="coments" type="text" class="coments--input" placeholder="¿Cuáles son tus comentarios?">
        <small *ngIf="hasErrorsComents('coments')" class="filter__input--error">
            *Los comentarios no puede estar vacíos</small>
    </div>
    <div class="button__container">
        <button type="button" class="button--btn" (click)="sendComents()" [disabled]="!activateButton()">
            <div class="button--btn--text">Enviar</div>
        </button>
    </div>
    </form>
</div>
