.box-container{
    align-content: center;
    justify-items: center;
    .box-background{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
    .title-container{
        width: 55%;
        align-content: center;
        justify-items: center;
        padding-top: 4%;
        .title-harry{
            font-family: 'Harry Potter', sans-serif;
            font-size: 75px;
        }
        .title-img{
            width: 50vw;
            height: auto;
        }
    }
    .welcome-btn{
        &__btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-top: 15px;
            padding-left: 5px;
            padding-right: 5px;
            border-radius: 15px;
            color: white;
            background-color: black;
            font-family: 'Harry Potter', sans-serif;
            font-size: 25px;
            cursor: pointer;
            transition: all 0.3s ease;

            &:hover{
                animation: float 0.5s ease forwards;
                text-shadow: 0 0 10px rgb(126, 126, 199), 0 0 20px rgb(126, 126, 199);
            }

            &:active{
                animation: press 0.5s ease forwards;
            }
        }
    }

    @keyframes float {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: scale(1.1) translateY(-1.5px);
        }
    }
    
    @keyframes press {
        0% {
            transform: translateY(0px);
        }
        100% {
            transform: scale(1) translateY(0.5px);
        }
    }
}