body {
    margin: 0;
    padding: 0;
}
.nav__container{
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    .nav__container-left{
        width: 80%;
        display: flex;
        gap: 7%;
        padding-left: 2%;
        .nav__logo{
            width: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            &--img{
                max-width: 100%;
                width: 100%;
                height: auto;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .nav__item{
            font-family: 'Harry Potter', sans-serif;
            font-size:larger;
            color: white;
            flex-wrap: wrap;
            align-content: center;
            display: flex;
            justify-content: center;
            padding: 0 1rem;
            font-size: 21px;
            &:hover{
                cursor: pointer;
            }
        }
    }

    .nav__container--right{
        width: 20%;
        .nav__item{
            font-family: 'Harry Potter', sans-serif;
            color: white;
            flex-wrap: wrap;
            align-content: center;
            display: flex;
            justify-content: center;
            width: 100%;
            height: 100%;
            font-size: 21px;
            &:hover{
                cursor:pointer;
            }
        }
    }
}